<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438658130751-6gecfvgtrvdtrfnqgt48olibdha5j1ps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438658130751-6gecfvgtrvdtrfnqgt48olibdha5j1ps</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>438658130751-7emp9b1pkn4rl46m3q6ior9htqu1cvho.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHze3-8HpZWaIBd8kKziHJToNRYYCrodo</string>
	<key>GCM_SENDER_ID</key>
	<string>438658130751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Felix.Felix-Student</string>
	<key>PROJECT_ID</key>
	<string>felixsales-16194</string>
	<key>STORAGE_BUCKET</key>
	<string>felixsales-16194.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438658130751:ios:0580fa42d67910cc32698a</string>
	<key>DATABASE_URL</key>
	<string>https://felixsales-16194.firebaseio.com</string>
</dict>
</plist>